body{
  background: #ddd;
}
#root{
  display: flex;
  justify-content: center;
}
.quadrant-all{
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
}
.quadrant-all .App:first-child{
  background: rgb(249, 232, 142);
}
.quadrant-all .App:nth-child(2){
  background: rgb(234, 73, 62);
}
.quadrant-all .App:nth-child(3){
  background: rgb(94, 179, 239);
}
.quadrant-all .App:nth-child(4){
  background: rgb(81, 113, 27);
}
.allTitle{
  text-align: center;
}
.footerTitle{
  text-align: center;
  margin: 50px 0;
}