body{
  background: #eee;
}
#root{
  display: flex;
  justify-content: center;
}
.quadrant-all{
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
}
.quadrant-all .App:first-child{
  background: rgb(127,120,237);
}
.quadrant-all .App:nth-child(2){
  background: rgb(172,84,229);
}
.quadrant-all .App:nth-child(3){
  background: rgb(96,146,243);
}
.quadrant-all .App:nth-child(4){
  background: rgb(42,190,253);
}
.allTitle{
  text-align: center;
}
.footerTitle{
  text-align: center;
  margin: 50px 0;
}